﻿#Statbody 
{
    background-color:#f0f0ee;
    font:1em "Trebuchet MS";
}

.point 
{
   border-top:10px solid transparent;
   border-bottom:10px solid transparent;
          border-right: 12px solid #FFF;
   position:absolute;
   left:-10px;
   top:12px;
} 
.clearfix:after 
{
      visibility:hidden;
      display:block;
      font-size:0;
      content: ".";
      clear:both;
      height:0;
      line-height:
      }
* html .clearfix 
{
      height: 1%;
}
.bubble-u 
{
    float:left;
    /*width:70px;*/
    width:100%;
    height:30px;
    border:3px solid #ffffff;
    border-radius:10px

}
.bubble-content {
   position:relative;
   float:left;
   margin-left:12px;
   width:400px;
   padding:0px 20px;
   height:100px;
   border-radius:10px;
   background-color:#FFFFFF;
   box-shadow:1px 1px 5px rgba(0,0,0,.2);
   word-wrap:break-word;

   }
.redbox
{
    width:300px;
    height:300px;
    line-height: 300px;
    border:4px double #ccc;
    font-size:44px;
    color:white;
    text-align:center;    
    float:left;
    margin: 40px;
    background-color: red;   
}

#Commentbox
{
    background-color: #7E7878;
}


#box1head
{
    background-color: #000000;
    color: #FFFFFF;
}

#StatTable
{
    color: #000000;
    border-top-style: solid;
    border-width: 1px;
    border-color: #707070;
    font-weight: normal;
}
#StatTable:nth-child(odd) td 
{
    background: #3399FF;
}

.boxlink a {
    vertical-align:middle;
    text-decoration:none;
}

.greenbox
{
  width:300px;
    height:300px;
    line-height: 300px;
    border:4px double #ccc;
    font-size:44px;
    color:white;
    text-align:center;    
    float:left;
    margin: 40px;
    background-color: green;   
}

.DateFont 
{
   font-size: 8px;
} 
/* X botton on the comments but not yet implemented */
.btnDelComment {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:25px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.btnDelComment:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #bddbfa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.btnDelComment:active {
	position:relative;
	top:1px;