﻿@ModelType SCSWeb.Message

@Code
    ViewData("Title") = "Create"
End Code

<h2>Create</h2>

@Using Html.BeginForm()
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(True)

    @<fieldset>
        <legend>Message</legend>

        <div class="editor-label">
            @Html.LabelFor(Function(model) model.Application)
        </div>
        <div class="editor-field">
            @Html.EditorFor(Function(model) model.Application)
            @Html.ValidationMessageFor(Function(model) model.Application)
        </div>

        <div class="editor-label">
            @Html.LabelFor(Function(model) model.Company)
        </div>
        <div class="editor-field">
            @Html.EditorFor(Function(model) model.Company)
            @Html.ValidationMessageFor(Function(model) model.Company)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
End Using

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Section Scripts
    @Scripts.Render("~/bundles/jqueryval")
End Section
